@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    background: #1d2671;
    background: linear-gradient(to right,#c33764, #1d2671);
    min-width: 320px;
}

.section-header {
    text-align: center;
    margin: 1rem auto;
    text-shadow:
        2px 0 0 #fff, -2px 0 0 #fff,
        0 2px 0 #fff, 0 -2px 0 #fff,
        1px 1px #fff, -1px -1px 0 #fff,
        1px -1px 0 #fff, -1px 1px 0 #fff;
}

#links-section {
    max-width: 1000px;
    padding: 2rem;
    margin: 0 auto;
    text-align: justify;
    overflow-x: hidden;
}

.nav-item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-link-container {
    text-align: center;
    width: 35%;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 2px 2px 4px salmon;
}

.nav-photo {
    width: 60%;
}

.photo-sample {
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px .5rem rgba(255, 255, 255, .5);
}

@media screen and (max-width: 600px) {
    .nav-item {
        display: block;
    }

    .nav-link-container {
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .nav-link {
        font-size: 20px;
    }

    .nav-photo {
        width: 80%;
        margin: 0 auto;
    }
}