@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --background-color: #fdf6f2;
    --primary-color: #fc9fa2;
    --circle1-color: #ffd3d5;
    --circle2-color: #fce1ca;
    --circle3-color: #ffeee2;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    overflow: hidden; /* Hides everything out of VH */
}

/* Navbar */
#header-nav {
    text-transform: uppercase;
    display: flex;
    width: 100%;
    padding: 20px 30px;
}

#navbar-brand {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

nav {
    margin-left: 120px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 13px;
}

.navbar-nav .nav-item .nav-link {
    margin-right: 50px;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--primary-color) !important;
    text-shadow: 0 0 1em var(--circle1-color) !important;
}

/* Main Content */
main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 120px;
    padding-bottom: 0;
    overflow: visible;
}

#text-content {
    width: 380px;
    margin-right: 5rem;
}

.main-title {
    color: var(--primary-color);
    width: 300px;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-text {
    color: black;
    font-weight: lighter;
    line-height: 2rem;
}

/* Animation for Buttons - Gio */
.buttons-block .btn:hover {
    transform: translateY(-15px);
}

.buttons-block {
    margin-top: 3rem;
}

.btn {
    text-transform: uppercase;
    padding: 12px 35px;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.buttons-block .btn-primary {
    background-color: var(--primary-color);
    color: white;
    margin-right: 4rem;
}

.buttons-block .btn-secondary {
    background-color: white;
    color: var(--primary-color);
}

/* Image Column */
.main-img {
    position: relative;
}

.ice-cream {
    width: 90%;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.ice-cream:hover {
    transform: translateY(-35px);
}

/* Background Elements */
.circle-1 {
    background-color: var(--circle1-color);
    position: absolute;
    z-index: -1;

    /* Right Way of Positioning */
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        clip-path: circle(600px at 90% -50px);

    /* The Way I did
        height: 1000px;
        width: 1000px;
        top: -500px;
        right: -250px;
    */
}

.circle-2 {
    background-color: var(--circle2-color);
    position: absolute;
    z-index: -1;

    /* Right Way of Positioning */
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        clip-path: circle(300px at center 600px);

    /* The Way I did
        height: 500px;
        width: 500px;
        top: 350px;
        left: 400px;
    */
}

.circle-3 {
    background-color: var(--circle3-color);
    position: absolute;
    z-index: -1;

    /* Right Way of Positioning */
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        clip-path: circle(150px at 50px 300px);
    
    /* The Way I Did
        height: 250px;
        width: 250px;
        top: 100px;
        left: -100px;
    */
}

/* Media Queries */
@media screen and (min-width: 1300px) {
    .main-img {
        bottom: 60px;
    }
}

@media screen and (max-width: 1200px) {
    main {
        padding: 100px;
    }

    #text-content {
        margin-right: 2rem;
    }
    
    /* Background Elements */
    .circle-1 {
        clip-path: circle(400px at 90% -50px);
    }

    .circle-2 {
        height: 120vh;
        clip-path: circle(200px at center 500px);
    }

    .circle-3 {
        clip-path: circle(100px at 50px 300px);
    }
}

@media screen and (max-width: 1024px) {
    main {
        padding: 60px;
    }

    .buttons-block .btn-primary {
        margin-right: 2rem;
    }
    
    .ice-cream {
        width: 420px;
        min-height: 440px;
    }
}

@media screen and (max-width: 870px) {
    body {
        overflow-y: visible;
    }
    
    #header-nav {
        display: block;
        text-align: center;
    }

    #navbar-brand {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav {
        margin-top: 0.5rem;
        margin-left: 0;
    }

    .navbar-nav {
        justify-content: center;
    }
    
    main {
        display: block;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 0;
    }

    #text-content {
        text-align: center;
        margin-right: 0;
        width: 100%;
    }

    .main-title {
        width: 100%;
    }

    .main-img {
        text-align: center;
        overflow: hidden;
        height: 420px;
    }
}